@charset 'UTF-8';

@media print {}

@media screen and (min-width: 768px) and (max-width: 992px) {

    /* tablet */
    body {
        background-image: url('../imagens/back-tablet.jpg');
    }

    #phone {
        display: none;
    }

    #tablet {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    /* desktop */
    body {
        background-image: url('../imagens/back-pc.jpg');
    }

    #phone {
        display: none;
    }

    #pc {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {

    /* telas grandes */
    body {
        background-image: url('../imagens/back-tv.jpg');
    }

    #phone {
        display: none;
    }

    #tv {
        display: block;
        margin: 0 auto;
    }
}
