@charset 'UTF-8';

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background: black url('../imagens/back-phone.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    /* overflow-x: hidden; */
}

main {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 95vw;
}

h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-transform: capitalize;
}

#phone,
#tablet,
#print,
#pc,
#tv {
    display: none;
}

#phone {
    display: block;
    margin: 0 auto;
}
