@charset 'UTF-8';

body {
    background-image: url('../imagens/cev-landscape.jpg');
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}
