@charset 'UTF-8';

body {
    background-image: url('../imagens/cev-portrait.jpg');
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}
