@charset 'UTF-8';

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #233eff;
    background-repeat: no-repeat !important;
    background-size: contain;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 0 #1526a7;
}
