@charset 'UTF-8';

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #233eff;
    height: 100vh;
    width: 100vw;
}

header menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #1526a7;
    padding: 5px;
}

header menu ul li {
    color: white;
    padding: 5px 10px;
}

h1 {
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 0 #1526a7;
}
