@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.caixa1 {
    background-color: red;
    grid-area: 1 / 1 / 2 / -1;
}

.caixa2 {
    background-color: purple;
    grid-area: 2 / 1 / -1 / -3;
}

.caixa3 {
    background-color: yellow;
    grid-area: 2 / 3 / -1 / 5;
}
