@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    border: 1px solid red;
    background-color: orange;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px;
}

.item {
    border: 1px solid green;
    background-color: rgba(0, 0, 255, 0.3);
}
