@charset 'UTF-8';

body {
    background-attachment: fixed;
    background-image: url('../imagens/cev-landscape.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
