@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    gap: 10px;
    grid-template-rows: 100px 40px 1fr 40px;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
    width: 100%;
}

.header {
    background-color: lightgrey;
    grid-area: 1 / 1 / 2 / -1;
}

.menu {
    background-color: lightgray;
    grid-area: 2 / 1 / 3 / -1;
}

.main {
    background-color: lightgrey;
    grid-area: 3 / 1 / 4 / -2;
}

.sidebar {
    background-color: lightgrey;
    grid-area: 3 / 2 / 4 / -1;
}

.footer {
    background-color: lightgrey;
    grid-area: 4 / 1 / -1 / -1;

    /* grid-row-start
    grid-column-start
    grid-row-end
    grid-column-end */

}
