@media (max-width: 480px) {
    #conteiner_header {
        flex-flow: column nowrap;

        .logo {
            flex-basis: 100%;
        }

        .menu-header {
            flex-flow: column nowrap;
            gap: 2px;
            width: 95vw;
        }
    }
}

@media (min-width: 480px) and (max-width: 790px) {
    #conteiner_header {
        .menu-header {
            margin-top: 10px;
        }
    }
}

@media (min-width: 791px) {
    #conteiner_header {
        .menu-header {
            margin-top: 0;
        }
    }
}
