@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(35deg, #c9daac, #ffe792);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    height: 100vh;
    overflow-x: hidden;
    /* width: 100vw; */
}

#conteiner_header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;

    .logo {
        color: #e6546b;
        justify-content: center;
        flex: 0 0 315px;
        font-size: clamp(2.05rem, 2vw, 4rem);
        text-align: center;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }

    .menu-header {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        margin-top: 10px;
        justify-content: flex-end;

        a {
            background-color: #8acbb5;
            border-radius: 8px;
            color: #333;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
                background-color: #c9daa4;
            }
        }
    }
}

#conteiner_main {
    background-color: #c9daa4;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 30px;

    h2 {
        color: #e6546b;
        margin-bottom: 10px;
    }

    p {
        color: #333;
        line-height: 1.6rem;
        margin-bottom: 20px;
        text-indent: 30px;
    }
}
