@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle, #271e29, #2b1f28, #2f2027, #312125, #332324, #342222, #342220, #34211e, #331d1b, #321a18, #301615, #2f1212);
    font-family: "Google Sans Flex", sans-serif;
    font-size: 1rem;
    height: 100vh;
    width: 100vw;
}

#conteiner_header {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;

    .logo {
        color: rgb(238, 233, 233);
        flex: 0 0 350px;
    }

    .menu-header {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        justify-content: flex-end;

        a {
            background-color: #271E29;
            border-radius: 8px;
            color: #9a9a9a;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            transition: all 0.3s ease;

            &:hover {
                background-color: #2F1212;
                color: #fff;
            }
        }
    }
}

#conteiner_main {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
}
